# Note: Do not remove or modify

RewriteEngine On

<FilesMatch "\.(js)$">
    Order Allow,Deny
    Allow from all
    Require all granted
</FilesMatch>

AddType application/javascript .js

<Directory "/user">
    Options +FollowSymLinks
    Allow from all
    Require all granted
</Directory>

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(js)$ - [L]